@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 469px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.7rem;
    }
}
@media screen and (max-width: 465px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.5rem;
    }
}
@media screen and (max-width: 423px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.5rem;
    }
}
@media screen and (max-width: 420px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.3rem;
    }
}
@media screen and (max-width: 400px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.33rem;
    }
}
@media screen and (max-width: 390px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.2rem;
    
    }
}
@media screen and (max-width: 402px) {
    
    .hero-1 h1{
    font-size: 2.1rem;
    
    }
}
@media screen and (max-width: 345px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2rem;
    
    }
}
@media screen and (max-width: 330px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2rem;
    
    }
    
}
@media screen and (max-width: 327px) {
   
    .hero-1 h1{
    font-size: 1.8rem;
    
    }
    
}
@media screen and (max-width: 323px) {
    .hero-1{
        height: 24.5rem;
        
    }
    .hero-1 h1{
    font-size: 1.9rem;
    
    
    }
   
}
@media screen and (max-width: 318px) {
  
    .hero-1 h1{
    font-size: 1.8rem;
    
    
    }
   
}
@media screen and (max-width: 300px) {
    /* .hero-1{
        height: 24.5rem;
        
    } */
    .hero-1 h1{
    font-size: 1.7rem;
    
    
    }
}
@media screen and (max-width: 271px) {
    /* .hero-1{
        height: 24.5rem;
        
    } */
    .hero-1 h1{
    font-size: 1.5rem;
    
    
    }

}
@media screen and (max-width: 271px) {
    
    .hero-btn_2{
    padding: 3.5px;
    
    
    }

}
@media screen and (max-width: 637px) {
    
    .hero-2 h2{
        font-size: 1.5rem;
    }
    .hero-2 p{
        margin-top: 1rem;
    }
    /* .hero-btn_2{
        margin-top: 2rem;
    } */

}
@media screen and (max-width: 436px) {
    
    .hero-2 h2{
        font-size: 1.4rem;
    }
   .hero-2 p{
   font-size: 14px;
   }

}
@media screen and (max-width: 362px) {
    
    .hero-2 h2{
        font-size: 1.4rem;
    }
   .hero-2 p{
   font-size: 14px;
   }
   .hero-btn_2{
  margin-top: 1rem;
   }

}
@media screen and (max-width: 362px) {
    
    .hero-2 h2{
        font-size: 1.2rem;
    }
 

}
@media screen and (max-width: 306px) {
    
    .hero-2 h2{
        font-size: 1rem;
    }
 .hero-2 button{
    padding: 5px;
 }

}
@media screen and (max-width: 265px) {
    
  .hero-2{
    height: 13rem;
  }

}
@media screen and (max-width: 435px) {
    .sum-title h2{
        font-size: 1.5rem;
    }
    .sum-btn button{
        padding: 4px 4px;
        
    }
    .sum-btn {
    margin-right: 30px;
        
    }
  
}
@media screen and (max-width: 400px) {
    .img-container img{
       width: 80px;
       height: 80px;
    }
}
@media screen and (max-width: 390px) {
  .sum-title h2{
    margin-right: 50px;
  }
  .sum-btn{
    padding-right: 30px;
  }
}






