@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 469px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.7rem;
    }
}
@media screen and (max-width: 465px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.5rem;
    }
}
@media screen and (max-width: 423px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.5rem;
    }
}
@media screen and (max-width: 420px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.3rem;
    }
}
@media screen and (max-width: 400px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.33rem;
    }
}
@media screen and (max-width: 390px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2.2rem;
    
    }
}
@media screen and (max-width: 402px) {
    
    .hero-1 h1{
    font-size: 2.1rem;
    
    }
}
@media screen and (max-width: 345px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2rem;
    
    }
}
@media screen and (max-width: 330px) {
    .hero-1{
        height: 24.5rem;
    }
    .hero-1 h1{
    font-size: 2rem;
    
    }
    
}
@media screen and (max-width: 327px) {
   
    .hero-1 h1{
    font-size: 1.8rem;
    
    }
    
}
@media screen and (max-width: 323px) {
    .hero-1{
        height: 24.5rem;
        
    }
    .hero-1 h1{
    font-size: 1.9rem;
    
    
    }
   
}
@media screen and (max-width: 318px) {
  
    .hero-1 h1{
    font-size: 1.8rem;
    
    
    }
   
}
@media screen and (max-width: 300px) {
    /* .hero-1{
        height: 24.5rem;
        
    } */
    .hero-1 h1{
    font-size: 1.7rem;
    
    
    }
}
@media screen and (max-width: 271px) {
    /* .hero-1{
        height: 24.5rem;
        
    } */
    .hero-1 h1{
    font-size: 1.5rem;
    
    
    }

}
@media screen and (max-width: 271px) {
    
    .hero-btn_2{
    padding: 3.5px;
    
    
    }

}
@media screen and (max-width: 637px) {
    
    .hero-2 h2{
        font-size: 1.5rem;
    }
    .hero-2 p{
        margin-top: 1rem;
    }
    /* .hero-btn_2{
        margin-top: 2rem;
    } */

}
@media screen and (max-width: 436px) {
    
    .hero-2 h2{
        font-size: 1.4rem;
    }
   .hero-2 p{
   font-size: 14px;
   }

}
@media screen and (max-width: 362px) {
    
    .hero-2 h2{
        font-size: 1.4rem;
    }
   .hero-2 p{
   font-size: 14px;
   }
   .hero-btn_2{
  margin-top: 1rem;
   }

}
@media screen and (max-width: 362px) {
    
    .hero-2 h2{
        font-size: 1.2rem;
    }
 

}
@media screen and (max-width: 306px) {
    
    .hero-2 h2{
        font-size: 1rem;
    }
 .hero-2 button{
    padding: 5px;
 }

}
@media screen and (max-width: 265px) {
    
  .hero-2{
    height: 13rem;
  }

}
@media screen and (max-width: 435px) {
    .sum-title h2{
        font-size: 1.5rem;
    }
    .sum-btn button{
        padding: 8px 8px;
        
    }
    .sum-btn {
    margin-right: 30px;
    margin-left: 100px;
        
    }
    .img-container{
        margin-left: 100px;
    }
    .sum-title{
        margin-left: 75px;
    }
    .sum-para{
        margin-left: 50px;
    }
  
}
@media screen and (max-width: 400px) {
    .img-container img{
       width: 80px;
       height: 80px;
    }
    
}
/* @media screen and (max-width: 390px) {
.sum-btn{
    margin-left: 130px;
}
.img-container{
    margin-left: 130px;
}
.sum-title{
    margin-left: 100px;
}
} */
@media screen and (max-width: 385px) {
.sum-para p{
    font-size: 15px;
}
}
@media screen and (max-width: 345px) {
.sum-btn{
    margin-left: 85px;
}
}
@media screen and (max-width: 335px) {
.sum-title h2{
    font-size: 1.3rem;
}
.sum-para p{
    font-size: 0.8rem;
}
.sum-btn button{
    padding:2px 2px;
    font-size: 0.8rem;
}

}
@media screen and (max-width: 325px) {
    .img-container{
        margin-left: 40px;
    }
    .sum-title{
        margin-left: 65px;
    }
    .sum-para{
        margin-left: 40px;
    }
    .sum-btn {
        margin-left: 70px;
    }
@media screen and (max-width: 320px) {
    .img-container{
        margin-left: 80px;
    }
    .sum-title{
        margin-left: 65px;
    }
    .sum-para{
        margin-left: 40px;
    }
    .sum-btn {
        margin-left: 70px;
    }
    }
@media screen and (max-width: 300px) {
.img-container{
    margin-left: 80px;
}
.sum-title{
    margin-left: 65px;
}
.sum-para{
    margin-left: 40px;
}
.sum-btn {
    margin-left: 70px;
}
}
@media screen and (max-width: 279px) {
.sum-para p{
    font-size: 0.7rem;
}
}




}


